$primary: #eb7100;
$secondary: #5e67de;
$body-color: #160c04;
$secondary-color: #3b3837;
$tertiary-color: #7f7977;
$body-bg: #fbf7f4;
$secondary-bg: #ede8e1;

@import "../../../node_modules/bootstrap/scss/bootstrap";

$types: (
    "entrega": $primary,
    "retirada": $secondary,
);

.btn-outline-primary {
    &:hover {
        color: $body-bg;
    }
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    background-color: $body-bg;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.offcanvas nav {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h6 {
        // font-weight: normal;
        color: $secondary-color;
    }

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
            a {
                display: flex;
                gap: 0.5rem;
                font-size: 1.1rem;
                align-items: center;
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

.btn-primary {
    color: $body-bg;

    &:hover {
        color: $body-bg;
    }
}

.logo {
    text-transform: uppercase;
    font-weight: 600;
}

.title-container {
    @include media-breakpoint-up(md) {
        max-width: 80%;
    }
}

main {
    padding-top: 6rem;
}

main > * + * {
    margin-top: 2rem;
}

#highlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;

    @include media-breakpoint-up(lg) {
        gap: 2rem;
    }

    .card {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3,
        h4,
        p {
            margin-bottom: 0;
        }

        h3 {
            font-size: 1.1rem;
        }

        .icon {
            font-size: 2rem;
            color: $primary;
        }
    }
}

.card.hello {
    background-color: $primary;
    color: $body-bg;
}

#proximasTarefas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#tarefasContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;

    @include media-breakpoint-up(lg) {
        gap: 2rem;
    }
}

@each $type, $color in $types {
    .card[data-type="#{$type}"] {
        $main: $color;
        border-radius: 1rem;

        & > div {
            background-color: unset;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }

        .card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 0;
            border: none;

            h4 {
                margin-bottom: 0;
                font-size: 1.25rem;
            }

            p {
                margin-bottom: 0;
                font-weight: 400;
            }

            span {
                background-color: $main;
                color: $body-bg;
                padding: 0.25rem 0.75rem;
                border-radius: 999px;
            }
        }

        .card-body {
            & > p {
                font-size: 1.1rem;
            }

            & > div {
                display: flex;
                justify-content: space-between;

                .itemCount {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 1rem;
                    }
                }
            }

            svg {
                color: $main;
                height: 2rem;
            }
        }

        .card-footer {
            border-color: $main;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > div {
                display: flex;
                align-items: center;
                gap: 0.25rem;

                i {
                    font-size: 1.25rem;
                }

                h5 {
                    margin-bottom: 0;
                    font-size: 1rem;
                    span {
                        color: $main;
                    }
                }
            }

            a {
                color: $body-bg;
                background-color: $main;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1rem;
                border-radius: 999px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
            }
        }
    }
}
