@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary: #eb7100;
    --body-color: #160c04;
    --secondary-color: #3b3837;
    --tertiary-color: #7f7977;
    --body-bg: #fbf7f4;
    --secondary-bg: #ede8e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
